/.bloop/
/.bsp/
/.idea/
/.metals/
/.vscode/
/project/.bloop/
/project/metals.sbt
/project/project/
/project/target/
/target/
/scalafix/rules/target/
/streams/js/target/
/streams/jvm/target/
/streams/native/target/
